body{
    background-color: #fff;
    background: url('bp.jpg');
    background-repeat: no-repeat;
    background-size: 300%;
}

#nav-heading, #main-footer{
    position: fixed;
    background-color: #e71010;
    left: 0;
    width: 100%;
    z-index: 999;
}

#main-heading {
    font-size: 35px;
    color: #fff;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}


#main-heading:hover{
    -webkit-transform: translate(-50px, 0);
    -moz-transform: translate(-50px, 0);
    -o-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
}
#nav-heading{
    top: 0;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    font-size: 20px;
}


#main-heading{
    position: absolute;
    top: 10%;
    left: 15%;
    opacity: 1;
}

#main-footer{
    height: 35px;
    bottom: 0;
    border-top: 1px solid #ccccb9;
}

form[name="OrderForm"]{
    display: block;
    background-color: #fff;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width: 500px;
    border-radius: 30px;
    border: 5px solid #ff0000;
}

form[name="OrderForm"] > label {
    font-weight: bold;
    color: #5900ff;
}

input:focus{
    border:2px solid #000;
    background: #000;
    color: #fff;
} 



#nav-heading > nav{
    text-align: center;
    position: relative;
}

#main-footer > nav{
    text-align: center;
    position: relative;
}

#main-footer > nav{
    top: -16px;
}


#nav-heading > nav > ul,
#main-footer > nav > ul{
    list-type: none;
}

#nav-heading > nav > ul li,
#main-footer > nav > ul li{
    display: inline-block;
    padding: 10px;
    color: #fff;
}

#main-footer > nav > ul li{
    padding: 10px 15px;
}

#nav-heading > nav > ul li:hover,
#main-footer > nav > ul li:hover{
    background-color: #000;
    cursor: pointer;
}

#nav-heading > nav > ul li a,
#main-footer > nav > ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace
    font-size: 25px;
}

#nav-heading > nav > ul li:hover > a,
#main-footer > nav > ul li:hover > a{
    color: #f0e21b;
    font-size: bold;
    font-style:normal;
    text-transform: lowercase;
}

#nav-heading + section{
    position: absolute;
    right: 25%;
    margin: 120px 0;
}



#nav-heading + section > form{
    border: 1px solid #ccccb9;
    padding: 40px;
    position: relative;
    font-size: 20px;
}

form[name="OrderForm"] div{
    position: relative;
    padding: 10px 0;
}


input + label{
    position: absolute;
    top: 27px;
    left: 5px;
    cursor: auto;
    transition: all 0.3s linear;
    color: #ccccb9;
}

input:focus + label,
input:valid + label{
    top: 0;
    font-size:13px;
    color: #000;
}


/*Submit and Reset buttons */
button{
    border-radius: 5px;
    padding: 5px 10px;
    font-weight:bold;
    cursor:pointer;
}
button[type = "submit"] {
    border-color: #000;
    background-color: #00ff00;
}

button[type = "submit"]:hover{
    border-color: #5900ff;
    background-color: #54bb06;
}

button[type = "reset"] {
    border-color: #000;
    background-color: #ff0000;
}

button[type = "reset"]:hover{
    border-color: #5900ff;
    background-color: #bb063c;
}

.row-1{
    margin-top: 50px !important;
}












